@import '@shared/_colors', '@shared/_mixins';

.FilterWrapper {
  background-color: $white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 15px;
  width: 250px;
  position: sticky;
  top: 20px;
  @media (max-width: $mobileTab) {
    display: none;
  }
  .FilterTitle {
    @include flex($j: space-between);
    padding: 0 15px 20px;
    h5 {
      margin: 0;
      font-size: 1.285rem;
      font-weight: 500;
    }
    span {
      color: rgba(136, 136, 136, 0.9);
    }
  }
  .FilterGroup {
    overflow: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.75);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(91, 91, 91, 0.85);
      outline: 1px solid slategrey;
    }
  }
  .Open {
    .FilterGroup {
      max-height: 180px;
    }
  }
  .Close {
    .FilterGroup {
      height: 0;
      margin-bottom: 0;
      overflow: hidden;
    }
  }
  .FilterLink {
    border: none;
    list-style: none;
    margin: 0;
    padding: 0px 15px;
    color: $darkGray;
    li {
      padding: 7.5px 0;
    }
  }
}
