.Loader {
  background-color: #99999961;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  &.ShowLoader {
    display: flex;
  }
}
