$white: #ffffff;
$blue: #067eed;
$skyBlue: #d6ebff;
$darkBlue: #23374d;
$purple: #7048c6;
$gray: #999999;
$lightGray: #eeeeee;
$black: #222222;
$darkGray: #747474;
$doveGray: #666666;
$silver: #c2c2c2;
$dustyGray: #999999;
$golden: #f1c40f;
$yellow: #f3ca00;
$red: #d21c09;
$green: #009e52;
$hawkesBlue: #d6e6fd;
$concrete: #f2f2f2;
$pinkishGrey: #c7afa2;
$beautyBush: #e2c6b5;
$satinLinen: #e7e3d7;
