@import '@shared/_colors';
@import '@shared/_mixins';

.Collapse {
  border: none;
  .CollapseHeader {
    @include flex($j: space-between, $a: center);
    background: none;
    border: none;
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-top: 1px solid $silver;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      border-style: solid;
      border-color: $darkGray;
      border-width: 0px 1px 1px 0px;
      transition: border-width 150ms ease-in-out;
    }
  }
  &.Open {
    .CollapseHeader::after {
      transform: rotate(225deg);
    }
  }
  &.Close {
    .CollapseHeader::after {
      transform: rotate(45deg);
    }
  }
}
