@import '@shared/_colors', '@shared/_mixins';

html,
body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: $white;
  color: $black;
}
* {
  box-sizing: border-box;
}

.container {
  padding: 0 100px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
