@import '@shared/_colors', '@shared/_mixins';
.Auth {
  width: 100vw;
  height: 100vh;
  @include flex($a: center, $j: center);
  .FormWrapper {
    @include flex($a: center, $d: column);
    background-color: $white;
    border-radius: 5px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    &.Vendor {
      max-width: 100%;
      height: 100%;
    }
    .Logo {
      width: 150px;
      margin-bottom: 1rem;
      cursor: pointer;
    }
    .FromGroup {
      width: 100%;
    }
    .ResetPassword {
      text-align: right;
      margin: 0.5rem 0;
    }
  }
}
